body,
html {
  height: 100%;
}

body {
  background-color: #333;
  font-size: 18px;
  margin: 0px;
  overflow: hidden;
}

body,
a:link, a:visited, a:active {
  color: lightblue;
}

.title,
.addDancerButton {
  padding: 5px 12px;
  float: right;
}

.topbar {
  background-color: #555;
  height: 32px;
  position: fixed; top: 0; left: 0;
  width: 100%;
  z-index: 1;
}

.title {
  background-color: #777;
}

.dancer {
  background-color: red;
  border: 0 solid red;
  border-radius: 50%;
  display: block;
  position: absolute;
  width: 24px; height: 24px;
}

.blinking-dancer {
  
}

.pulsing-dancer {
  background: green;
  opacity: 0.1;
  transition: 0.2s opacity ease-in-out;
}
.pulsing-dancer.pulse {
  opacity: 1;
}

.samba-dancer {
  background: pink;
  opacity: 0.35;
  transition: 0.3s all ease-in-out;
  transform: translate(0,0);
}
.samba-dancer.pulse {
  opacity: 1;
  transform: translate(4px,4px);
}
